/* Look shamelessly borrowed from the Chromium tabbed settings page. */
body {
    direction: __MSG_@@bidi_dir__;
    font-family: Arial, sans-serif;
    font-size: 84%;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    color: #53637D;
    font-size: 200%;
    font-weight: normal;
    margin: 0px;
    padding-bottom: 4px;
    padding-top: 13px;
    border-bottom: 1px solid #eee;
}
input[type="text"] {
    border: 1px solid #AAA;
    padding: 3px;
    -webkit-border-radius: 2px;
}

button {
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-user-select: none;
    background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
    border: 1px solid #aaa;
    color: #444;
    font-size: inherit;
    margin-bottom: 0px;
    min-width: 4em;
    padding: 3px 12px 3px 12px;
}

button:hover {
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background: #ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
    border-color: #999;
    color: #222;
}

button:active {
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
    background: #ebebeb -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
    color: #333;
}

section {
    border-bottom: 1px solid #eee;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
}
section > h2 {
    width: 150px;
    vertical-align: middle;
    margin: 0px;
    font-weight: bold;
    font-size: 100%;
    padding-top: 2px;
}
section > div {
    -webkit-box-flex: 1;
}
section > div label {
    display: block;
    margin: 3px 0px;
}
section > div h3 {
    font-size: 100%;
    font-weight: bold;
    margin: 0px;
    padding-top: 2px;
}

.presetButton > img {
    vertical-align: text-bottom;
    -webkit-margin-end: 5px;
}
#commandPattern {
    width: 100%;
    font-family: monospace;
}
